<div class="container">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Filtrar productos</h5>
      <form>
        <div class="row justify-content-end">
          <div class="col-3 mb-4">
            <button class="btn btn-primary" type="submit">Filtrar</button>
          </div>
          <div class="col-3 mb-4">
            <button class="btn btn-secondary" type="button">
              Limpiar filtros
            </button>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
        </div>
      </form>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row justify-content-between">
        <div class="col-9">
          <h5 class="card-title">
            Total de productos <span> {{ productoList.length }} </span>
          </h5>
        </div>
        <div class="col">
          <button class="btn btn-primary" type="button" (click)="openModal()">
            Agregar producto
          </button>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Imagen</th>
            <th>Deporte</th>
            <th>Modelo</th>
            <th>Sexo</th>
            <th>Tela</th>
            <th>Talla</th>
            <th>Costo tacna</th>
            <th>Costo arica</th>
            <th>Descripción</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of filterProducto">
            <th>{{ producto.id }}</th>
            <td><img src="{{ producto.imagen }}" style="width: 150px" /></td>
            <td>{{ producto.deporte }}</td>
            <td>{{ producto.modelo }}</td>
            <td>{{ producto.sexo }}</td>
            <td>{{ producto.tela }}</td>
            <td>{{ producto.talla }}</td>
            <td>{{ producto.costo_t | currency: "USD" }}</td>
            <td>{{ producto.costo_a | currency: "USD" }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>
              <button
                class="btn btn-outline-primary"
                (click)="editProducto(producto)"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="showModal">
  <producto-modal
    [producto]="productoEdit"
    (closeEvent)="closeModal($event)"
  ></producto-modal>
</div>
