<div class="card">
  <form [formGroup]="sesionForm" (ngSubmit)="autenticar()">
    <div class="card-body">
      <h5 class="card-title">Inicio de sesion</h5>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingUser"
          placeholder="Usuario"
          formControlName="user"
        />
        <label for="floatingUser">Usuario</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="floatingPass"
          placeholder="Contraseña"
          formControlName="pass"
        />
        <label for="floatingPass">Contraseña</label>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="sesionForm.status !== 'VALID'"
      >
        Iniciar sesion
      </button>
    </div>
  </form>
</div>
