<div class="card">
  <div class="card-body">
    <h5 class="card-title">Cliente</h5>
    <form>
      <div class="row">
        <div class="col">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floating"
              placeholder="Nombre"
            />
            <label for="">Nombre</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floating"
              placeholder="Apellido"
            />
            <label for="">Apellido</label>
          </div>
        </div>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floating"
          placeholder="Razón"
        />
        <label for="">Razón</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="number"
          class="form-control"
          id="floating"
          placeholder="RUC"
        />
        <label for="">RUC</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floating"
          placeholder="Dirección"
        />
        <label for="">Dirección</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="tel"
          class="form-control"
          id="floating"
          placeholder="Teléfono"
        />
        <label for="">Teléfono</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floating"
          placeholder="Correo"
        />
        <label for="">Correo</label>
      </div>
      <div class="row">
        <div class="col">
          <button class="btn btn-outline-primary">Cancelar</button>
        </div>
        <div class="col align-items-end">
          <button class="btn btn-warning">Aceptar</button>
        </div>
      </div>
    </form>
  </div>
</div>
