<div class="card">
  <div class="card-body">
    <h5 class="card-title">Cliente</h5>
    <form [formGroup]="clientForm" (ngSubmit)="clientSubmit()">
      <div class="row">
        <div class="col">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingNombre"
              placeholder="Nombre"
              formControlName="nombre"
            />
            <label for="Nombre">Nombre</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingApellido"
              placeholder="Apellido"
              formControlName="apellido"
            />
            <label for="Apellido">Apellido</label>
          </div>
        </div>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingRazon"
          placeholder="Razón"
          formControlName="razon"
        />
        <label for="Razon">Razón</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="number"
          class="form-control"
          id="floatingRUC"
          placeholder="RUC"
          formControlName="ruc"
        />
        <label for="RUC">RUC</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingDireccion"
          placeholder="Dirección"
          formControlName="direccion"
        />
        <label for="Direccion">Dirección</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="tel"
          class="form-control"
          id="floatingTelefono"
          placeholder="Teléfono"
          formControlName="telefono"
        />
        <label for="Telefono">Teléfono</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingCorreo"
          placeholder="Correo"
          formControlName="correo"
        />
        <label for="Correo">Correo</label>
      </div>
      <div class="row">
        <div class="col">
          <button
            class="btn btn-outline-primary"
            type="button"
            (click)="closeModal()"
          >
            Cancelar
          </button>
        </div>
        <div class="col align-items-end">
          <button class="btn btn-warning" type="submit">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>
