<div class="card">
  <div class="card-body">
    <h5 class="card-title">Agregar producto</h5>
    <form>
      <select class="form-select mb-3">
        <option value="">Choose the product</option>
      </select>
      <div class="row">
        <div class="col">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingCostoT"
              placeholder="Costo Tacna"
              disabled
              readonly
            />
            <label for="floatingCostoT">Costo Tacna</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingCostoA"
              placeholder="Costo Arica"
              disabled
              readonly
            />
            <label for="floatingCostoA">Costo Arica</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingTalla"
              placeholder="Talla"
              disabled
              readonly
            />
            <label for="floatingTalla">Talla</label>
          </div>
        </div>
        <div class="col">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingCantidad"
              placeholder="Cantidad"
              disabled
              readonly
            />
            <label for="floatingCantidad">Cantidad</label>
          </div>
        </div>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingSubTotal"
          placeholder="SubTotal"
          disabled
          readonly
        />
        <label for="floatingSubTotal">SubTotal</label>
      </div>
      <button type="submit" class="btn btn-primary">Agregar producto</button>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Productos</h5>
    <table class="table">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Cantidad</th>
          <th>Descripcion</th>
          <th>Modelo</th>
          <th>Talla</th>
          <th>Costo tacna</th>
          <th>Costo arica</th>
          <th>Subtotal</th>
          <th>Quitar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
