<div class="container">
  <div class="card mb-3">
    <div class="card-body">
      <div>
        <h5 class="card-title">Filtrar cotizaciones</h5>
      </div>
      <form [formGroup]="filterForm" (ngSubmit)="filterSubmit()">
        <div class="row justify-content-end gap-4">
          <div class="col-3 mb-4 d-flex gap-3">
            <form>
              <div class="mb-4">
                <label class="form-label" for="fromDate">De</label>
                <input
                  class="form-control"
                  type="date"
                  name="fromDate"
                  id="fromDate"
                  formControlName="fromDate"
                />
              </div>
              <div class="mb-4">
                <label class="form-label" for="toDate">Hasta</label>
                <input
                  class="form-control"
                  type="date"
                  name="toDate"
                  id="toDate"
                  formControlName="toDate"
                />
              </div>
            </form>
          </div>

          <div
            class="col-3 mb-4 d-flex justify-content-center align-self-center"
          >
            <fieldset>
              <legend>Filtrar por meses</legend>
              <label class="form-check-label">
                <input
                  class="form-check-inpur"
                  type="radio"
                  id="lastMonth"
                  name="month"
                  value="last"
                  formControlName="month"
                />
                Mes pasado
              </label>
              <label class="form-check-label">
                <input
                  class="form-check-inpur"
                  type="radio"
                  id="curMonth"
                  name="month"
                  value="current"
                  formControlName="month"
                />
                Mes actual
              </label>
            </fieldset>
          </div>
          <div class="col-3 mb-4">
            <button class="btn btn-primary" type="submit">Filtrar</button>
            <button
              class="btn btn-secondary"
              type="button"
              (click)="cleanFilters()"
            >
              Limpiar filtros
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <div class="row justify-content-betweens">
        <div class="col-9">
          <h5 class="card-title">
            Total de cotizaciones <span> {{ cotizacionList.length }} </span>
          </h5>
        </div>
        <div class="col">
          <button class="btn btn-primary" type="button" (click)="openModal()">
            Agregar cotización
          </button>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>id</th>
            <th>Cliente</th>
            <th>Fecha de creación</th>
            <th>Fecha de modificación</th>
            <th>Soles</th>
            <th>Dolares</th>
            <th>Pesos</th>
            <th>Editar</th>
            <th>Reporte</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cuote of filterCotizacion">
            <th scope="row">{{ cuote.id }}</th>
            <th scope="row">{{ cuote.nombre }}</th>
            <td>
              {{ cuote.fecha_creada | date: "longDate" }}
            </td>
            <td>
              {{ cuote.fecha_modificado | date: "longDate" }}
            </td>
            <td>{{ cuote.soles | currency: "S/" }}</td>
            <td>{{ cuote.dolares | currency: "USD" }}</td>
            <td>{{ cuote.pesos | currency: "USD" }}</td>
            <td>
              <button
                class="btn btn-outline-primary"
                (click)="editCotizacion(cuote)"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
            </td>
            <td>
              <button
                class="btn btn-outline-info"
                (click)="pdfCotizacion(cuote)"
              >
                <i class="bi bi-file-pdf"></i>
              </button>
            </td>
            <td>
              <button
                class="btn btn-outline-danger"
                (click)="deleteCotizacion(cuote.id)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="showModalCotizacion">
  <cotizacion-modal
    [cotizacion]="cotizacionEdit"
    (closeEvent)="closeModal($event)"
  ></cotizacion-modal>
</div>
